*.psd filter=lfs diff=lfs merge=lfs -text
data/Combinedwildfir/ filter=lfs diff=lfs merge=lfs -text
wildfire.geojson filter=lfs diff=lfs merge=lfs -text
wildfire.json filter=lfs diff=lfs merge=lfs -text
wildfire.js filter=lfs diff=lfs merge=lfs -text
wildFires.geojson filter=lfs diff=lfs merge=lfs -text
wfs.geojson filter=lfs diff=lfs merge=lfs -text
rawData/Shapefile filter=lfs diff=lfs merge=lfs -text
rawData/Shapefile/US_Wildfires_1878_2019.dbf filter=lfs diff=lfs merge=lfs -text
rawData/Shapefile/US_Wildfires_1878_2019.shp filter=lfs diff=lfs merge=lfs -text
fireCentury.geojson filter=lfs diff=lfs merge=lfs -text
fire2000.geojson filter=lfs diff=lfs merge=lfs -text
fire50.geojson filter=lfs diff=lfs merge=lfs -text
y2k10.geojson filter=lfs diff=lfs merge=lfs -text
fire70.geojson filter=lfs diff=lfs merge=lfs -text
fire80.geojson filter=lfs diff=lfs merge=lfs -text
fire90s.geojson filter=lfs diff=lfs merge=lfs -text
fire2k.geojson filter=lfs diff=lfs merge=lfs -text
fire2k10.geojson filter=lfs diff=lfs merge=lfs -text
fireCenturyClean.geojson filter=lfs diff=lfs merge=lfs -text
bothIgCtrlDates.geojson filter=lfs diff=lfs merge=lfs -text
firePoints.gpkg filter=lfs diff=lfs merge=lfs -text
firePoints.geojson filter=lfs diff=lfs merge=lfs -text
pointsNoNulls.geojson filter=lfs diff=lfs merge=lfs -text
mtbs filter=lfs diff=lfs merge=lfs -text
pointPoly.csv filter=lfs diff=lfs merge=lfs -text
mtbsPoly.shp filter=lfs diff=lfs merge=lfs -text
bothDates.csv filter=lfs diff=lfs merge=lfs -text
fireCenturyClean.csv filter=lfs diff=lfs merge=lfs -text
bothDates.js filter=lfs diff=lfs merge=lfs -text
bothDatesClean.geojson filter=lfs diff=lfs merge=lfs -text
